@import url("colors.css");

:root{
	--color-text: #333;
	--color-text-alt: #fff;
	--color-link-alt: #58a8fd;

	--color-bg: #f8f9fa;
	--color-bg-active: #ccc;
	--color-bg-active-active: #eee;
	--color-bg-alt: #333;
	--color-bg-active-alt: #666;
	--color-bg-active-active-alt: #999;

	--color-editor-bg: #272822;

	--color-accept: #5cb85c;
	--color-reject: #e68e8c;
	
	
}
