@import url("colors.css");

:root{

	--me-color-text: #333;
	--me-color-bg: #f8f9fa;
	--me-color-bg-active: #ccc;
	--me-color-bg-active-active: #eee;
	--me-color-border: #ccc;

	--me-color-text-alt: #fff;
	--me-color-bg-alt: #333;
	--me-color-bg-active-alt: #666;
	--me-color-bg-active-active-alt: #999;
	--me-color-border-alt: #666;

	--me-color-link: #007bff;

	--me-color-editor-bg: #272822;

	--me-color-accept: #5cb85c;
	--me-color-reject: #fd231f;
	
	
}
