
:root{
	--me-color-link: #007bff;

	--me-color-accept: #5cb85c;
	--me-color-reject: #fd231f;
	--me-color-warning: #f0ad4e;
	
}

body[theme="dark"] {

	--me-color-text: #fff;
	--me-color-bg: #333;
	--me-color-bg-active: #666;
	--me-color-bg-active-active: #999;
	--me-color-border: #666;

	--me-color-sash: rgb(255, 255, 255, 0.2);

	--me-color-editor-bg: #272822;
}

body[theme="light"] {
	--me-color-text: #333;
	--me-color-bg: #f8f9fa;
	--me-color-bg-active: #ccc;
	--me-color-bg-active-active: #ddd;
	--me-color-border: #ccc;

	--me-color-sash: rgb(0, 0, 0, 0.2);

	--me-color-editor-bg: #e6e6e6;
}
