

main {
    display: flex;
    height: calc(100vh - 4em);
}

button {
    font-size: 1em;
	background: none;
	border: none;
	outline: none;
    padding: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
    box-sizing: border-box;
}

a {
    color: var(--color-link-alt);
}

i {
    margin-right: .4em;
}

.meditor-popup-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(100%);
    top: 0;
    background-color: var(--me-color-bg);
    color: var(--me-color-text);
    border: 1px solid var(--me-color-border);
    border-radius: .3em;
    padding: .5em 0;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    min-width: 10em;
}

.meditor-popup-menu-item {
    cursor: pointer;
    padding-left: 2em;
    text-align: left;
    width: 100%;
    color: var(--me-color-text);
}
.meditor-popup-menu-item:hover {
    background-color: var(--me-color-bg-active);
}

.meditor-popup-window {
    position: absolute;
    transform: translate(-50%, -50%);
    border: 1px solid var(--me-color-border);
    background-color: var(--me-color-bg);
    color: var(--me-color-text);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
    z-index: 1000;
}



.meditor-page {
    height: 100%;
    max-height: 100%;
    width: 100%;
    max-width: 100%;
    background-color: var(--me-color-bg);
    color: var(--me-color-text);
    font-family: sans-serif;
}

.meditor-button {
    background-color: var(--me-color-bg);
    color: var(--me-color-text);
    border: solid 1px #666;
    padding: 0 .5em;
    margin: 0;
    cursor: pointer;
    border-radius: .3em;
}
.meditor-button:hover {
    background-color: var(--me-color-bg-active);
}


.meditor-sash-v {
    position: absolute;
    height: 100%;
    cursor: ew-resize;
    background-color: transparent;
    border: none;
    z-index: 100;
}
.meditor-sash-v:hover {
    background-color: var(--me-color-sash);
}

.meditor-sash-h {
    position: absolute;
    width: 100%;
    cursor: ns-resize;
    background-color: transparent;
    border: none;
    z-index: 100;
}
.meditor-sash-h:hover {
    background-color: var(--me-color-sash);
}


.meditor-header {
    align-items: center;
    display: flex;
    height: 4em;
    /*border-bottom: 1px solid var(--me-color-border);*/
}

.meditor-header-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.meditor-header-title {
    margin: 0;
    text-align: center;
    line-height: 2em;
    padding-left: .5em;
}

.meditor-header-menu {
    margin-left: auto;
    display: flex;
    padding-right: .5em;
    align-items: center;
}

.meditor-header-menu button {
    height: fit-content;
    border: none;
}


.meditor-main {
    position: relative;
    width: 100%;
    height: calc(100% - 4em);
}


.meditor-split {
    display: flex;
    white-space: nowrap;
}

.meditor-split-v {
    flex-direction: row;
    max-width: 100%;
}

.meditor-split-h {
    flex-direction: column;
    max-height: 100%;
}


.meditor-left {
    position: absolute;
    left: 0;
    width: calc(20%);
    height: 100%;
    /*border-right: 1px solid var(--me-color-border);*/
}

.meditor-mid {
    position: absolute;
    left: calc(20%);
    width: 60%;
    height: 100%;
}


.meditor-right {
    position: absolute;
    right: 0;
    width: calc(20%);
    height: 100%;
    border-left: 1px solid var(--me-color-border);
}

.meditor-mid-container {
    position: relative;
    width: 100%;
    height: 100%;
}

.meditor-mid-main {
    position: absolute;
    top: 0;
    width: 100%;
    height: 80%;
}

.meditor-mid-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    border-top: 1px solid var(--me-color-border);
}



.meditor-explorer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.meditor-explorer-title {
    margin: 0;
    padding: 0;
    padding-left: .3em;
}

.meditor-explorer-menu {
    display: flex;
    overflow: hidden;
    padding-bottom: .4em;
    height: fit-content;
}

.meditor-explorer-menu-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .3em;
    height: fit-content;
}

.meditor-explorer-menu-control {
    margin-left: auto;
}


.meditor-explorer-content {
    overflow-y: auto;
    padding-bottom: 1.2em;
}

.meditor-file {
    display: flex;
    cursor: pointer;
    padding-left: .5em;
    width: 100%;
    color: var(--me-color-text);
}
.meditor-file:hover {
    background-color: var(--me-color-bg-active);
}
.meditor-file-selected {
    background-color: var(--me-color-bg-active);
}

.meditor-file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.meditor-file-selected {
    background-color: var(--me-color-bg-active);
}

.meditor-file-control {
    display: flex;
    margin-left: auto;
    left: 0;
}

.meditor-file-menu {
    cursor: pointer;
    border: none;
    background: transparent;
    height: 100%;
}

.meditor-file-menu:hover {
    background-color: var(--me-color-bg-active-active);
}


.meditor-dir {
    width: 100%;
    color: var(--me-color-text);
    display: flex;
    flex-direction: column;
}



.meditor-dir-menu {
    width: 100%;
    cursor: pointer;
}
.meditor-dir-menu:hover {
    background-color: var(--me-color-bg-active);
}

.meditor-dir-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: .5em;
    color: var(--me-color-text);
    text-align: left;
}

.meditor-dir-name::before {
    font-size: 1em;
    content: "▶";
    margin-right: .4em;
}

.meditor-dir-name-expanded::before {
    content: "▼";
}

.meditor-dir-content {
    padding-left: 1.2em;
    display: none;
}
.meditor-dir-content-show {
    display: block;
}



.meditor-editor {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
}

.meditor-editor-menu {
    display: flex;
    width: 100%;
}

.meditor-editor-menu-left {
    display: flex;
}
.meditor-editor-menu-left *{
    padding: .5em;
    margin: .2em 0 .2em .2em;
}

.meditor-editor-menu-right {
    margin-left: auto;
}
.meditor-editor-menu-right *{
    padding: .5em;
    margin: .2em .2em .2em 0;
}


.meditor-editor-content {
    width: 100%;
    height: 100%;
    background-color: var(--me-color-editor-bg)
}





#user-menu {
    margin-left: auto;
    padding: .5em;
}

.window {
    overflow: hidden;
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    /*border: solid 1px #666;*/
}


.window-title {
    font-size: 1em;
    margin: .1em;
    white-space: nowrap;
    overflow: hidden;
}

#left-side-bar {
    padding: 0;
    margin: 0;
    width: max(18em, 20%);
    resize: horizontal;
    display: flex;
    flex-direction: column;
}

#explorer {
    display: flex;
    flex-direction: column;
    height: 100%
}

#explorer-menu {
    padding: 0;
    margin: 0;
    display: flex;
}

#explorer-title {
    padding-left: .3em;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#explorer-controls {
    padding: 0;
    padding-right: .3em;
    margin: 0;
    display: flex;
    margin-left: auto;
}

.explorer-control-item {
    cursor: pointer;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}

.explorer-control-item, .explorer-control-item button {
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: solid 1px #666;

    padding: .1em;
    margin: 0;
    margin-right: .2em;
    cursor: pointer;
    border-radius: .3em;
}
.explorer-control-item:hover, .explorer-control-item button:hover {
    background-color: var(--color-bg-active-alt);
}


#explorer-content {
    overflow-y: auto;
}


.file {
    display: flex;
    cursor: pointer;
    margin: 0;
    padding-left: .5em;
    padding-right: .5em;
    white-space: nowrap;
    overflow: hidden;
}
.file:hover {
    background-color: var(--color-bg-active-alt);
}

.selected-file {
    background-color: var(--color-bg-active-alt);
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}



.file-control {
    cursor: pointer;
    margin: 0;
    margin-right: .4em;
    margin-left: auto;
    padding-left: .2em;
    padding-right: .2em;
    pointer-events: painted;
    border-radius: 20%;
}
.file-control:hover {
    background-color: var(--color-bg-active-active-alt)
}

.file-menu {
    min-width: 10em;
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: 1px solid #666;
    padding-top: .4rem;
    padding-bottom: .4rem;
    border-radius: .2rem;
    z-index: 1000;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}

.file-menu-item {
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    cursor: pointer;
    margin: 0;
    padding-left: 2em;
    white-space: nowrap;
    border: none;
    text-align: left;
}
.file-menu-item:hover {
    background-color: var(--color-bg-active-alt);
}







#main-container {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#main-top-bar {
    padding: 0;
    margin: 0;
    border-bottom: solid 1px #666;
    display: flex;
}

.main-top-bar-item {
    padding: 0;
    margin: 0;
    display: flex;
}

#main-top-bar-left {

}
#main-top-bar-right {
    margin-left: auto;
}

#main-top-bar-left button{
    margin-right: .3em;
    white-space: nowrap;
}

#main-top-bar-right button{
    margin-left: .3em;
    white-space: nowrap;
}
.top-bar-text {
    margin: 0;
    padding: 0;
    padding-left: .5em;
    padding-right: .5em;
    display: inline-block;
}
.top-bar-button {
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: solid 1px #666;
    padding: .5em;
    margin-bottom: .2em;
    cursor: pointer;
    border-radius: .3em;
}
.top-bar-button:hover {
    background-color: var(--color-bg-active-alt);
}


#main-body {
    background-color: var(--color-editor-bg);
    height: 85%;
    overflow-y: auto;
    overflow-x: hidden;
    resize: vertical;
}


.ace_editor > .ace_text-input{
    font-family: "Noto Sans Mono", monospace;
}


.preview-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#preview-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
}

.editor-block-message {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-bottom-bar {
    background-color: var(--color-bg-alt);
    padding: 2px;
    margin: 0;
    border-top: solid 1px #666;
    overflow: hidden;
    flex: 1;
}

.console {
    height: 100%;
    color: var(--color-text-alt);
    padding-left: .5em;
    padding-bottom: .2em;
    white-space: pre-wrap;
    word-break: break-all;
    overflow-x: hidden;
    overflow-y: auto;

}

.error {
    color: red;
}

.warning {
    color: yellow;
}

.info {
    color: var(--color-text-alt);
}

.success {
    color: lightgreen;
}

#editor {
    /*position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;*/
    width: 100%;
    height: 100%;
}




.duplicate-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: 1px solid #666;
    padding: .5rem;
    z-index: 2000;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.duplicate-dialog-controls{
    display: flex;
    flex-direction: row-reverse;
    margin-top: .2rem;
}

.rename-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: 1px solid #666;
    padding: .5rem;
    z-index: 2000;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.rename-dialog-controls{
    display: flex;
    flex-direction: row-reverse;
    margin-top: .2rem;
}

.delete-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: 1px solid #666;
    padding: .5rem;
    z-index: 2000;
    top: 50%;
    left: 50%;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.delete-dialog-controls{
    display: flex;
    flex-direction: row-reverse;
    margin-top: .2rem;
}

.upload-dialog {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--color-bg-alt);
    color: var(--color-text-alt);
    border: 1px solid #666;
    padding: .5rem;
    z-index: 2000;
    top: 50%;
    left: 50%;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.5);
}
.upload-dialog input {
    width: 50vw;
    height: 40vh;
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    border: 1px solid #666;
}
.upload-dialog-controls{
    display: flex;
    flex-direction: row-reverse;
    margin-top: .2rem;
}
