<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Ace Editor</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        #editor {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
        }
    </style>
</head>

<body>
    <div id="editor"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ext-language_tools.js"></script>
    <script>
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/monokai");
        editor.setFontSize(14);
        editor.setShowPrintMargin(false);
        editor.setOptions({
            enableBasicAutocompletion: true,
            enableSnippets: true,
            enableLiveAutocompletion: true
        });
        editor.getSession().setMode("ace/mode/php");
        editor.getSession().setUseWrapMode(true);
        editor.getSession().setTabSize(4);
        editor.setValue("<?php\n\techo(\"Hello World!\") \n?>");

    </script>
</body>

</html>