<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>class test</title>
    <style>
        html{
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
        }
        body
        {
            margin: 5vh 5vw;
            height: 90vh;
        }
    </style>
</head>
<body>
    <div id="main"></div>
    <!-- ace editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ace.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Extensions -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ext-inline_autocomplete.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ext-settings_menu.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ext-language_tools.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ext-inline_autocomplete.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Language scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/mode-javascript.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/mode-javascript.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/mode-php.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/mode-html.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Keybinds -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/keybinding-vim.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/keybinding-emacs.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/keybinding-vscode.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/keybinding-sublime.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Snippets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/mode-snippets.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- emmet-->
    <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.36.4/ext-emmet.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/e87421e015.js" crossorigin="anonymous"></script>
    
    
    <script src="/MEditor/MEditor.js"></script>
    <script>
        
        function hideAllPreviewer(){
            let viewers = document.querySelectorAll(".viewer");
            viewers.forEach((viewer) => {
                viewer.style.display = "none";
            })
        }

        var USER_ID = "user_id";
        
        const editor = new MEditor();
        editor.DEBUG = true;

        async function main(){
            await editor.editor("main");

            const editorEditor = editor.workPlace(editor.page.main.mid.container.main);

            editorEditor.menu.left.items.push(editor.generateButton(
                editorEditor.menu.left,
                "Save",
                (e) => {
                    console.log("Save: ");
                }
            ))
            editorEditor.menu.left.items.push(editor.generateButton(
                editorEditor.menu.left,
                "Run",
                (e) => {
                    console.log("Run: ");
                }
            ))

            editorEditor.menu.right.items.push(editor.generateButton(
                editorEditor.menu.right,
                "Debug",
                (e) => {
                    console.log("Debug: ");
                },
            ))

            const explorer = editor.createExplorer(editor.page.main.left, opt={
                title: "エクスプローラー",
            });
            explorer.setFileClickAction((file) => {
                hideAllPreviewer();
                console.log(file);
                if(file.type == "text"){
                    if(file.aceObj == undefined || file.aceObj == null){
                        let aceDOM = document.createElement("div");
                        editorEditor.content.element.appendChild(aceDOM);
                        aceDOM.id = "ace-" + file.name;
                        aceDOM.classList.add("viewer");
                        aceDOM.style.width = "100%";
                        aceDOM.style.height = "100%";
                        const ace = new AceWrapper(aceDOM.id);
                        ace.loadMySettings();
                        file.aceObj = ace;
                        file.aceObj.setValue(file.name);
                    }
                    else{
                        console.log("ace already exists");
                    }

                    file.aceObj.show();
                    file.aceObj.focus();
                }
                else if(file.type == "image"){
                    if(file.viewer == undefined || file.viewer == null){
                        let imgContainer = document.createElement("div");
                        imgContainer.id = "img-" + file.name;
                        imgContainer.classList.add("viewer");
                        imgContainer.style.width = "100%";
                        imgContainer.style.height = "100%";
                        editor.page.main.mid.container.main.element.appendChild(imgContainer);

                        let img = document.createElement("img");
                        imgContainer.appendChild(img);
                        img.src = "";
                        
                        file.viewer = imgContainer;
                    }
                    else(
                        console.log("image already exists")
                    )

                    file.viewer.style.display = "block";
                }
                
            })

            explorer.setNewFileClickAction(() => {
                console.log("re: New file: ");
            })

            explorer.setNewDirClickAction(() => {
                console.log("re: New dir: ");
            })

            explorer.setRenameClickAction((file) => {
                console.log("re: Rename: ", file);
            })

            explorer.setDuplicateClickAction((file) => {
                console.log("re: Duplicate: ", file);
            })

            explorer.setDeleteClickAction((file) => {
                console.log("re: Delete: ", file);
            })

            testFiles = {
                name: "/",
                type: "dir",
                files: [
                    {
                        name: "index.php",
                        type: "text",
                    },
                    {
                        name: "index.html",
                        type: "text",
                    },
                    {
                        name: "images",
                        type: "dir",
                        files: [
                            {
                                name: "image.png",
                                type: "image",
                            },
                            {
                                name: "image2.png",
                                type: "image",
                            }
                        ]
                    },
                    {
                        name: "js",
                        type: "dir",
                        files: [
                            {
                                name: "script.js",
                                type: "text",
                            },
                            {
                                name: "modules",
                                type: "dir",
                                files: [
                                    {
                                        name: "module.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module2.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module3.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module4.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module5.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module6.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module7.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module8.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module9.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module10.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module11.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module12.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module13.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module14.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module15.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module16.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module17.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module18.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module19.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module20.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module21.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module22.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module23.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module24.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module25.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module26.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module27.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module28.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module29.js",
                                        type: "text",
                                    },
                                    {
                                        name: "module30.js",
                                        type: "text",
                                    },
                                ]
                            }
                        ]
                    },
                    {
                        name: "css",
                        type: "dir",
                        files: [
                            {
                                name: "style.css",
                                type: "text",
                            }
                        ]
                    }
                ]
            }

            explorer.setMenuTitle(USER_ID + "/");
            explorer.loadExplorer(testFiles);
        }

        main();
    </script>
</body>
</html>