<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PHP Editor</title>
    <link rel="icon" href="../media/icon.svg">
    <style>
        html{
            margin: 0;
            padding: 0;
            height: 100vh;
            width: 100vw;
        }
        body
        {
            margin: 0;
            padding: 0;
            height: 100%;
            width: 100%;
        }
    </style>
    <link rel="stylesheet" href="css/index.css">
    <script>
        // Linux環境の場合のみIME width調整用CSSを適用
        if (navigator.userAgent.includes('Linux') && !navigator.userAgent.includes('Android')) {
            const link = document.createElement('link');
            link.rel = 'stylesheet';
            link.href = '../css/ace_ime_width.css';
            document.head.appendChild(link);
        }
    </script>
    <link rel="stylesheet" href="../css/ace_jp_ime.css">
</head>
<body theme="dark">
    <div id="container">
        <div id="main"></div>
    </div>
    <!-- ace editor -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ace.js" integrity="sha512-T2otaV2NuxAJAOCoj8ijyy+eAAadZlpvdLmakrIGVFbBkthgIFqLTXd+T8Z+S+kf4V7Ib5+6f6r4D4IdS9Ey4A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Extensions -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-inline_autocomplete.js" integrity="sha512-SyOO4hw9BWtrP8SWy4pKhsJ/WEz1UX4tj1IuyFnXDF0ae+MFP8hscLmTYf+rKqmWMSAk4pv6lzF+LqZCcMZVxA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-settings_menu.js" integrity="sha512-H0ig54W0Pq7moKYwCNczarra6RN2BNvBF4VIs0zLuHC1h2iuxikqsI21K9rhB8TceEUkjO2gVJ+KKxIahn6A2g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-language_tools.js" integrity="sha512-1/ljEXsccQB1r2ZcAGw0D6ZrslR2yog7wbFxgCMIW4kkdLRdK2BqzfVHjDmPFFJOqDiOuEN6GpxVijhYfWbtWg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-diff.js" integrity="sha512-fR7mLoZ/Yqr1qQzU2/j820NolQoEC3Ik63Q58YyDJVC2zZxY+orMr2IcqtJ1Jkc9nGDb2a6DhGBPFyTQzV9P7A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/worker-base.js" integrity="sha512-SpMKHvWVqdRm/K3surGVqGOeulHqM40oBCffzb8dtLDyyTObPJC5avN71e4/l2XboppjthF/kdXFXfSbwewgkA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- Language scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/mode-javascript.js" integrity="sha512-3zJcEEX5tMRsmH1+bNClpzXPnpyvAaBxjpicL7/4rr9PTwdKKeIdtOGXqaX8Q6FmZTuhsE+fSPLXb9zlFanyXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/mode-php.js" integrity="sha512-aXEFpZyS2y23B350kH4kbrijOyJFXQt4qjwe3X86Cg4760iPAjXIUAc8DtV8lQMBWfojrjFnvf5F98NXlq1kEw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/mode-html.js" integrity="sha512-ysPPn0wSzCVibv/e0m8vE/5JhjAbceh5lkp2QEetzGw4sIYP9V2IF5+WZ+TwU0XW+SUdu834ZjNLk5k8xoVuvA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/mode-markdown.js" integrity="sha512-ilkYijRspw/dFDxAWfaGLGadD4uRZ1lLgRVGptuin5xEhHfnPzSz+t/Hi5c+4y0h9892GxOrLUrnp5CmyJrS/w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- workers -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/worker-javascript.js" integrity="sha512-5bkBex43hwyWOlW+edtWEYVKFxxgIMK+2rRyB5QJrvHqaELhXV/ATHskEVV2ZtAA5Ovqdo8ctBvoye3EKCuwZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Keybinds -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/keybinding-vim.js" integrity="sha512-g8aoFR1eL9vzEUaeURlNBtlncC5/2fpSIHOEnQt2GUmAf06V/IcNlaNkLCW41Wpz0h40DmTDXF9h97AtQElUmA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/keybinding-emacs.js" integrity="sha512-4aN3AwbVs1fVfybGviPG0up79tII6gPSdMoDemMCbd8sIPxAMB8h5AYB0JDFIs2bal/RmPfK1f5DEWt5eXuBYg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/keybinding-vscode.js" integrity="sha512-3BbmYCGGP1BKU44KyAKg5nG5ebrlQ8nBALs4YMyBBU9P1BPKnVnI0ZtB2MeTvTws7JHDNHVNdZb5gYpivzSxnA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/keybinding-sublime.js" integrity="sha512-gthQIENuVd7q2BMQSWL86kv1bJUJl1nyF6cG8goO2scGzCpFcaoVkM3tlvdS8WYhvwTEUX7ecj1zg7whO0U3Sw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Snippets -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/mode-snippets.js" integrity="sha512-DazkqV3+dxOJJWTV33dNy/buUDbCwDl1Tdilxg40pX8BSAl/qKe5jN+2/MD/w58Kx0eEU4x24xsTtE2wrtaviQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!-- emmet-->
    <script src="https://cloud9ide.github.io/emmet-core/emmet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.43.3/ext-emmet.js" integrity="sha512-h6tc1INE8x1XXVWDTQ7fGmoyZbs5eXwumygbs7RwoAaukT0/e0uoqtesGxHSbJrZRJ/LiTyMH4v4zLFVwV+HEg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/e87421e015.js" crossorigin="anonymous"></script>
    
    <!-- MEditor -->
    <!--script src="../MEditor/MEditor.js?v=<?php echo date("ymdHis",filemtime("./MEditor/MEditor.js")); ?>"></script-->

    <!--markdown render-->
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>

    <!-- KaTeX for math rendering -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsNIU0tAv4ct0nTaAbDJwPJzDEaqSD1odI+WdtXRGWt2kTvGFasHpSy3SV" crossorigin="anonymous">
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-XjKyOOlGwcjNTAIQHIpgOno0Hl1YQqzUOEleOLALmuqehneUG+vnGctmUb0ZY0l8" crossorigin="anonymous"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-+VBxd3r6XgURycqtZ117nYw44OOcIax56Z4dCRWbxyPt0Koah1uHoK0o4+/RRE05" crossorigin="anonymous"></script>

    <!-- Import Maps -->
    <script type="importmap">
        {
            "imports": {
                <?php
                // モジュールリストの取得
                function getModuleVersions($baseDir) {
                    $modules = [];
                    if (!is_dir($baseDir)) {
                        return $modules;
                    }
                    
                    $iterator = new RecursiveIteratorIterator(
                        new RecursiveDirectoryIterator($baseDir, RecursiveDirectoryIterator::SKIP_DOTS)
                    );
                    
                    foreach ($iterator as $file) {
                        if ($file->isFile() && $file->getExtension() === 'js') {
                            $relativePath = str_replace($baseDir . '/', '', $file->getPathname());
                            $modules[$relativePath] = filemtime($file->getPathname());
                        }
                    }
                    return $modules;
                }

                // js/ と MEditor/ の両方をスキャン
                $baseDir = realpath(__DIR__ . '/../');
                $jsDir = $baseDir . '/js';
                $meditorDir = $baseDir . '/MEditor';
                
                $imports = [];
                
                // js/ ディレクトリのモジュール
                $jsModules = getModuleVersions($jsDir);
                foreach ($jsModules as $path => $version) {
                    $webPath = './js/' . $path;
                    $imports[] = json_encode($webPath) . ': ' . json_encode($webPath . '?v=' . $version);
                }
                
                // MEditor/ ディレクトリのモジュール
                $meditorModules = getModuleVersions($meditorDir);
                foreach ($meditorModules as $path => $version) {
                    $webPath = './MEditor/' . $path;
                    $imports[] = json_encode($webPath) . ': ' . json_encode($webPath . '?v=' . $version);
                }
                
                echo implode(",\n                ", $imports);     
                ?>
            }
        }
    </script>


    <!--jsdiff-->
    <script src="../js/diff.js?v=<?php echo date("ymdHis",filemtime("./js/diff.js")); ?>"></script>

    <!-- Error Logger -->
    <script src="../js/error-logger.js?v=<?php echo date("ymdHis",filemtime("./js/error-logger.js")); ?>"></script>
    
    <!-- js -->
    <script src="../js/qrcode.js?v=<?php echo date("ymdHis",filemtime("./js/qrcode.js")); ?>"></script>
    <script type="module" src="../js/main.js?v=<?php echo date("ymdHis",filemtime("./js/main.js")); ?>"></script>
</body>
</html>